*{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    color: white;
}
a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #121212;
    text-decoration: none;
}
a>img{
    
    padding: 0%;
    margin: 0%;
    height: 50%;
    width: 50%;
}
body{
    background-color: #121212;
    scroll-behavior: smooth;
}
.button {
    pointer-events: all;
    position: fixed;
    background-color: #03d49dff;
    height: 20vh;
    width: 20vh;
    border-radius: 50vh;
    border: 0px;
    top: 5vh;
    left: 5vh;
}
nav{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: fixed;
    top: 5vh;
    left: 5vh;
    background-color: #03d49dff;
    height: 20vh;
    width: 20vh;
    border-radius: 50vh;
}
.navdiv{
    position: absolute;
    background-color: #03d49dff;
    height: 20vh;
    width: 100%;
    left: 50%;
    border-radius: 50vh;
}
.ml3 {
    margin-right: 6vh;
    font-size: 5vh;
}
main{
    top: 2cm;
    left: 20%;
    position: absolute;
    width: 50vw;
    height: 100vh;
}
aside{
    color: white;
    top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 0%;
    width: 25vw;
}
aside button{
    background-color: #03d49dff;
    width: 100px;
    padding: 5px;
    border: none;
}
article{
    border-block: #03d49dff dashed 2px;
}
article h1{
    color: #03d49dff;
}
p,label{
    color: white;
}
.coluna{
    display:flex;
    flex-direction: column;
}
.linha{
    display: flex;
    flex-direction: row;
}
img {
    padding: 10%;
}
p {
    padding-bottom: 10px;
    padding-top: 15px;
}
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0000008f;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
      width: 100%;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    
  }
  .accordion {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: rgb(255, 255, 255); 
    color: black;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: rgb(41, 41, 41);
    overflow: hidden;
  }
  li a {
      text-decoration: none;
      color: white;
      text-align: left;
      display: block;
  }
