*{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}
a{
    color: #121212;
    text-decoration: none;
}
body{
    background-color: #121212;
}
.button {
    pointer-events: all;
    position: fixed;
    background-color: #03d49dff;
    height: 20vh;
    width: 20vh;
    border-radius: 50vh;
    border: 0px;
    top: 5vh;
    left: 5vh;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: -1;
    position: absolute;
    top: 5vh;
    left: 5vh;
    background-color: #03d49dff;
    height: 20vh;
    width: 20vh;
    border-radius: 50vh;
}
.navdiv{
    position: absolute;
    background-color: #03d49dff;
    height: 20vh;
    width: 100%;
    border-radius: 50vh;
}
.ml3 {
    margin-right: 6vh;
    font-weight: 900;
    font-size: 1.5em;
}
